body {
    background: url("../images/giantEye.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: whitesmoke;
}

#masthead {
    background-color: whitesmoke;
    margin: 0 0 30px;
    z-index: 99;
    color: #fff;
    overflow: auto;
    border-bottom: 1px solid grey;
    position: fixed;
    width: 100%;
    height: 80px;
    left: 0;
    right: 0;
    top: 0;
}

#masthead a:hover {
    font-weight: 700;
    font-size: 20px;
}

#masthead a:active {
    color: #3e0ce8;
}

#logo {
    width: 250px;
    height: 80px;
    background: #2b80bd;
    float: left;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    text-align: center;
    line-height: 80px;
    color: #efff;
    font-weight: 700;
    font-size: 30px;
    text-decoration: none;
    border-radius: 25px 25px;
}

nav {
    float: right;
    margin-top: 30px;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #2b80bd;
    margin-left: 15px;
    display: inline-block;
    border-left: 1px solid #2b80bd;
    padding-left: 15px;
    line-height: 18px;
    font-weight: bold;
}

nav a:first-child {
    border-left: 0 none;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

#main-container {
    margin-top: 100px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.stats-column {
    width: 100%;
}

.gameLogo {
    width: 528px;
    position: relative;
    border: 1px solid #a9a9a9;
    border-radius: 25px;
    max-height: 264px;
    margin: 0 auto;
}

.gameLogo img#GoT_Logo {
    max-width: 528px;
    max-height: 500px;
    position: relative;
    border-radius: 25px;
    top: 0;
    left: 0;    
}

.gameLogo img#GoT_Logo2 {
    position: absolute;
    bottom: 40px;
    right: 20px;
    z-index: 2;
}

#hangmanImage {
    max-width: 528px;
    margin: 0 auto;
    
}

#hangmanImage img {
    width: 75%;
    margin-left: 70px;
    border: 1px solid #a9a9a9;
}








