body {
    background: url("../images/bg0.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: whitesmoke;
    font-family: 'MedievalSharp', cursive, serif;
    margin-top: -60px;
}

#logo {
    width: 250px;
    height: 80px;
    background: #2b80bd;
    float: left;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    text-align: center;
    line-height: 80px;
    color: #efff;
    font-weight: 700;
    font-size: 30px;
    text-decoration: none;
    border-radius: 25px 25px;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

#main-container {
    margin-top: 100px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.stats-column {
    width: 100%;
}

.gameLogo {
    width: 528px;
    position: relative;
    border: 1px solid #a9a9a9;
    border-radius: 25px;
    max-height: 264px;
    margin: 0 auto 20px;
}

.gameLogo img#GoT_Logo {
    max-width: 528px;
    max-height: 500px;
    position: relative;
    border-radius: 25px;
    top: 0;
    left: 0;    
}

.gameLogo img#GoT_Logo2 {
    position: absolute;
    bottom: 40px;
    right: 20px;
    z-index: 2;
}

button#start-button {
    position: absolute;
    bottom: 25px;
    left: 50px;
    z-index: 2;
    width: 30%;
    height: 20%;
    font-size: 20px;
    background-color: #a9a9a9;
}

#executionClip, #resultsDisplay {
  display: block;
}

#executionClip iframe {
    width: 70%;
    margin-left: 15%;
    height: 400px;
    margin-bottom: 20px;
}

#resultsDisplay {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    font-size: 45px;
    font-weight: bold;
}

#hangmanImage {
    max-width: 528px;
    max-height: 300px;
    float: right;   
    margin-top: 18px; 
}

#hangmanImage img {
    width: 75%;
    margin-left: 70px;
    border: 1px solid #a9a9a9;
}

div#game_area {
    float: right;
}

h1#game_word, h1 {
    text-align: left;
    font-size: 32px;
}

h2 {
    text-align: center;
    font-size: 24px;
}

#wins, #winsCounter, #losses, #lossCounter {
    display: inline;
}

#underscores, #guessedLetters, #remainingGuesses, #wins, #winsCounter, #losses, #lossCounter {
  padding-bottom: 20px;
}

#game_word, #yourGuesses, #guessesRemaining {
  padding-bottom: 15px;
}

.clear {
    clear: both;
}

footer {
    background: #666;
    color: #fff;
    padding: 30px 0;
    clear: both;
    border-top: 8px solid #4aaaa5;
    color: #ccc;
    font-size: 12px;
    text-align: center;
    margin-top: 50px;
}


/* INDEX Width at 980px and below */
@media screen and (max-width: 980px) {

    #hangmanImage img {
        max-width: 100%;
        margin-left: 70px;
        border: 1px solid #a9a9a9;
    }
    
    .gameLogo {
        max-width: 100%;
        margin-left: 0;
    }
    .gameLogo img {
        max-width: 25%;
    }
}

/* INDEX Width at 768px and below */

@media screen and (max-width: 768px) {}

    /* INDEX Width at 640px and below */

@media screen and (max-width: 640px) {}






